<div class="main">
        <!-- Sing in  Form -->
        <section class="sign-in">
            <div class="container">
                <div class="signin-content">
                    <!--div class="signin-image">
                        <figure><img src="log/images/signin-image.jpg" alt="sing up image"></figure>
                        <a href="signup.html" class="signup-image-link">Create an account</a>
                    </div-->

                    <div class="signin-form">
                        <h2 class="form-title">Notifications</h2>
                        <ul>
                            <li>Machine Learning Workshop &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp   -&nbsp&nbsp29&nbsp/&nbsp03&nbsp/&nbsp2019</li>
                            <li>Sankalp Photography Contest&nbsp&nbsp&nbsp&nbsp&nbsp -&nbsp&nbsp31&nbsp/&nbsp03&nbsp/&nbsp2019</li>
                        </ul>
                        
                    </div>
                </div>
            </div>
        </section>

    </div>